.background /*fondo gradiente del header*/ {
  background: rgb(49, 73, 79);
  background: linear-gradient(
    127deg,
    rgba(49, 73, 79, 1) 0%,
    rgba(27, 57, 65, 1) 55%,
    rgba(19, 44, 51, 1) 100%
  );
}

.logo {
  height: 50px;
  width: 50px;
  margin: 10px;
  border-radius: 30%;
}
li a {
  color: $color-secundario;
  text-decoration: none;
  transition: background 2s;
}

li a:hover /*Cambio de color y fondo pasas con el mouse*/ {
  transition: all 1s;
  background-color: $color-terciario;
  color: $color-principal;
}
.active {
  background-color: $color-secundario;
  color: $color-fondo-general;
}

.contenedor_titulo {
  background: rgb(49, 73, 79);
  background: linear-gradient(
    127deg,
    rgba(49, 73, 79, 1) 0%,
    rgba(27, 57, 65, 1) 55%,
    rgba(19, 44, 51, 1) 100%
  );
  margin-top: 30px;
  color: #d8e3e7;
}

.titulo {
  padding: 10px;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  justify-content: center;
}

.subtitulo {
  font-size: $letra * 5;
  color: $color-secundario;
  margin-top: 40px;
  margin-bottom: 30px;
}

.volver {
  margin: 60px;
  color: $color-secundario;
  text-align: center;
  font-size: 1.2rem;
}

main a {
  color: $color-principal;
}
