/*HEADER*/

.background /*fondo gradiente del header*/ {
  background: $color-fondo-titulo;
}
.logo {
  /*logo de la empresa*/
  height: $imagen;
  width: $imagen;
  margin: $margen;
  border-radius: $curvado-suave;
}
li a {
  color: $color-secundario;
  text-decoration: none;
  transition: background 2s;
}

li a:hover /*Cambio de color y fondo pasas con el mouse*/ {
  transition: all 1s;
  background-color: $color-terciario;
  color: $color-principal;
}
.active {
  /*Cuando se activa una página*/
  background-color: $color-secundario;
  color: $color-fondo-general;
}

/*MAIN*/

.contenedor_titulo {
  /*Contenedor del titulo Valores*/
  background: $color-fondo-titulo;
  margin-top: $margen * 3;
  margin-bottom: $margen * 3;
  color: $color-fondo-general;
}

.titulo {
  /*Titulo valores*/
  padding: $margen;
  font-size: $titulo;
  font-weight: bolder;
  text-align: center;
  justify-content: center;
}

.contenedor_general {
  /*Contenedor de todo el contenido */
  justify-content: center;
  gap: 30px;
}

.contenedor_subtitulo {
  /*Contenedor de cada titulo y texto*/
  background-color: #51c4d32c;
}

.subtitulo {
  /*Cada subtitulo*/
  font-size: $letra * 5;
  font-weight: $negrita-fuerte;
  color: #084f63;
  margin-top: $margen * 4;
  margin-bottom: $margen * 3;
  display: flex;
  justify-content: center;
}
.ultimo_subtitulo_1 {
  /*Ultimo subtitulo, porque es largo*/
  font-size: $letra * 5;
  font-weight: $negrita-fuerte;
  color: #084f63;
  margin-top: $margen * 4;
  display: flex;
  justify-content: center;
}
.ultimo_subtitulo_2 {
  /*Ultimo subtitulo, porque es largo*/
  font-size: $letra * 5;
  font-weight: $negrita-fuerte;
  color: #084f63;
  margin-bottom: $margen * 3;
  display: flex;
  justify-content: center;
}

.texto {
  /*Cada texto*/
  font-size: $letra * 3;
  font-weight: $negrita-suave;
}

.volver {
  /*Boton de volver*/
  margin: $margen * 4;
  text-align: center;
  font-size: $letra * 4;

  a {
    color: $color-principal;
  }
}
